In [16]:
import sqlite3

In [17]:
def create_table():
    conn = sqlite3.connect('books.db')  # books.db 라는 이름의 데이터베이스 파일 생성
    c = conn.cursor()
    sql = """
    CREATE TABLE IF NOT EXISTS book (
        title TEXT,
        published_data TEXT,
        publisher TEXT,
        pages INTEGER,
        recommend INTEGER
    );
    """
    c.execute(sql)
    conn.commit()
    conn.close()

create_table()

In [18]:
def insert_book_1():
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    sql = """
    INSERT INTO book
    VALUES (
        'Java', '2019-05-20', '길벗', 500, 10
    );
    """
    c.execute(sql)
    conn.commit()
    conn.close()

insert_book_1()

In [19]:
def select_all():
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    sql = "SELECT * FROM book;"
    c.execute(sql)
    books = c.fetchall()    # fetchall(): 모든 데이터를 한 번에 가져옴
    # 한 행의 데이터를 튜플로 가져오며, 전체 결과는 list로 가져옴
    for book in books:
        print(book)
    conn.close()

select_all()

('Java', '2019-05-20', '길벗', 500, 10)
('Java', '2019-05-20', '길벗', 500, 10)
('Python', '2018-04-20', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)
('Java', '2019-05-20', '길벗', 500, 10)

In [20]:
def insert_book_2(title, published_data, publisher, pages, recommend):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    sql = """
    INSERT INTO book
    VALUES (?, ?, ?, ?, ?);
    """
    c.execute(sql, (title, published_data, publisher, pages, recommend))    # sql문에 ?가 있을 경우, 두 번째 인자로 튜플을 전달
    # 자바의 PreparedStatement와 비슷한 기능
    conn.commit()
    conn.close()

insert_book_2('Python', '2018-04-20', '한빛', 584, 20)

In [21]:
select_all()

('Java', '2019-05-20', '길벗', 500, 10)
('Java', '2019-05-20', '길벗', 500, 10)
('Python', '2018-04-20', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)
('Java', '2019-05-20', '길벗', 500, 10)
('Python', '2018-04-20', '한빛', 584, 20)

In [22]:
def many_insert_books(data):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    sql = """
    INSERT INTO book
    VALUES (?, ?, ?, ?, ?);
    """
    c.executemany(sql, data)    # executemany(): 여러 개의 데이터를 list 형식으로 한 번에 입력
    # for data in datas:
    #   c.execute(sql, data) 랑 똑같은 기능
    conn.commit()
    conn.close()

data = [
    ('빅데이터', '2014-07-02', '삼성', 296, 11),
    ('안드로이드', '2010-02-10', '한빛', 526, 15),
    ('Spring', '2013-12-02', '삼성', 248, 8)
]

many_insert_books(data)

In [23]:
select_all()

('Java', '2019-05-20', '길벗', 500, 10)
('Java', '2019-05-20', '길벗', 500, 10)
('Python', '2018-04-20', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)
('Java', '2019-05-20', '길벗', 500, 10)
('Python', '2018-04-20', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)

In [24]:
def select_one(title):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    sql = "SELECT * FROM book WHERE title=?;"
    c.execute(sql, (title,))
    book = c.fetchone()    # fetchone(): 한 개의 데이터만 가져옴
    print(book)
    conn.close()

select_one('Python')

('Python', '2018-04-20', '한빛', 584, 20)

In [29]:
def select_some(number):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    sql = "SELECT * FROM book"
    c.execute(sql)
    books = c.fetchmany(number)    # fetchmany(): 지정한 개수만큼 데이터를 순서대로 가져옴
    print(books)
    conn.close()

select_some(3)

[('Java', '2019-05-20', '길벗', 500, 10), ('Java', '2019-05-20', '길벗', 500, 10), ('Python', '2018-04-20', '한빛', 584, 20)]

In [33]:
def search_book(pages):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    sql = "SELECT * FROM book WHERE pages >= ? ORDER BY title;"
    c.execute(sql, (pages,))
    books = c.fetchall()
    for book in books:
        print(book)
    conn.close()

search_book(501)

('Python', '2018-04-20', '한빛', 584, 20)
('Python', '2018-04-20', '한빛', 584, 20)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('안드로이드', '2010-02-10', '한빛', 526, 15)

In [34]:
def update_book(data):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    c.execute("UPDATE book SET pages=?, recommend=? WHERE title=?;", data)
    conn.commit()
    conn.close()

update_book((600, 30, 'Python'))

In [36]:
def update_books(datas):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    c.executemany("UPDATE book SET pages=?, recommend=? WHERE title=?;", datas)
    conn.commit()
    conn.close()

update_books([(100, 1, 'Java'), (200, 2, 'Python')])
select_all()

('Java', '2019-05-20', '길벗', 100, 1)
('Java', '2019-05-20', '길벗', 100, 1)
('Python', '2018-04-20', '한빛', 200, 2)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)
('Java', '2019-05-20', '길벗', 100, 1)
('Python', '2018-04-20', '한빛', 200, 2)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)

In [ ]:
def delete_book(title):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    c.execute("DELETE FROM book WHERE title=?;", (title,))
    conn.commit()
    conn.close()

delete_book('Java')

('Python', '2018-04-20', '한빛', 200, 2)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)
('Python', '2018-04-20', '한빛', 200, 2)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)

In [ ]:
def delete_books(datas):
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    c.executemany("DELETE FROM book WHERE title=?;", datas)
    # execute -> 레코드를 여러 개 삭제할 때에도 조건이 하나라면 이걸 씀
    # executemany -> 조건을 여러 개 설정할 때
    conn.commit()
    conn.close()

delete_books([('Python',), ('빅데이터',)])

('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)
('안드로이드', '2010-02-10', '한빛', 526, 15)
('Spring', '2013-12-02', '삼성', 248, 8)