In [2]:
! pip install oracledb

Collecting oracledb
  Downloading oracledb-3.0.0-cp312-cp312-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: cryptography>=3.2.1 in c:\users\it\anaconda3\lib\site-packages (from oracledb) (43.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\it\anaconda3\lib\site-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in c:\users\it\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Downloading oracledb-3.0.0-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 39.0 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-3.0.0

In [ ]:
import oracledb

<oracledb.Connection to scott@localhost:1521/xe>

In [6]:
def read_data():
    conn = oracledb.connect('scott/tiger@localhost:1521/xe')
    c = conn.cursor()
    c.execute('select * from emp')
    rows = c.fetchall()
    for row in rows:
        print(row)
    conn.close()

read_data()

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)

In [ ]:
def insert_data(data):
    conn = oracledb.connect('scott/tiger@localhost:1521/xe')
    c = conn.cursor()
    c.execute('INSERT INTO emp VALUES(:1, :2, :3, :4, :5, :6, :7, :8)', data)
    conn.commit()
    conn.close()