In [14]:
! pip install pymysql
# sqlite는 그냥 db 파일이 생성하기만 하면 되는데, mysql은 서버를 띄워야 함

Requirement already satisfied: pymysql in c:\users\it\anaconda3\lib\site-packages (1.1.1)

In [15]:
# MySQL 임포트
import pymysql

# MySQL Connection 연결
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    db='pydb',
    charset='utf8'
)

In [20]:
def select_all():
    c = conn.cursor()
    c.execute('SELECT * FROM book')
    books = c.fetchall()
    for book in books:
        print(book)
    c.close()

In [ ]:
def insert_data(data):
    c = conn.cursor()
    c.execute("INSERT INTO book(title, pub, pages, author) VALUES(%s, %s, %s, %s);", data)
    conn.commit()
    c.close()

# insert_data(('Python', '한빛', 500, '현민현민'))
select_all()

(10, '바보', '한빛', 100, '루피')
(11, '해삼', '두빛', 200, '조로')
(12, '스파게티', '세빛', 300, '상디')
(13, 'Python', '한빛', 500, '현민현민')
(14, 'Python', '한빛', 500, '현민현민')

In [ ]:
def insert_datas(datas):
    c = conn.cursor()
    c.executemany("INSERT INTO book(title, pub, pages, author) VALUES(%s, %s, %s, %s);", datas)
    conn.commit()
    c.close()

# insert_datas([
#     ('바보', '한빛', 100, '루피'),
#     ('똥개', '한빛', 200, '조로'),
#     ('말미잘', '한빛', 300, '상디')
# ])
select_all()

(1, '자바', '한빛', 500, '김경식')
(2, '파이썬', '길butt', 300, '이준목')
(3, '데이터 분석 실무', '위키북스', 300, '김토리')
(9, 'Python', '한빛', 500, '현민현민')
(10, '바보', '한빛', 100, '루피')
(11, '똥개', '한빛', 200, '조로')
(12, '말미잘', '한빛', 300, '상디')

In [ ]:
def update_data(data):
    c = conn.cursor()
    c.execute("UPDATE book SET title=%s, pub=%s, pages=%s, author=%s WHERE id=%s;", data)
    conn.commit()
    c.close()

# update_data(('우하하', '똥개', 100, '루피', 10))
select_all()

(1, '자바', '한빛', 500, '김경식')
(2, '파이썬', '길butt', 300, '이준목')
(3, '데이터 분석 실무', '위키북스', 300, '김토리')
(9, 'Python', '한빛', 500, '현민현민')
(10, '우하하', '똥개', 100, '루피')
(11, '똥개', '한빛', 200, '조로')
(12, '말미잘', '한빛', 300, '상디')

In [28]:
def update_datas(datas):
    c = conn.cursor()
    c.executemany("UPDATE book SET title=%s, pub=%s, pages=%s, author=%s WHERE id=%s;", datas)
    conn.commit()
    c.close()

# update_datas([
#     ('바보', '한빛', 100, '루피', 10),
#     ('해삼', '두빛', 200, '조로', 11),
#     ('스파게티', '세빛', 300, '상디', 12)
# ])
select_all()

(1, '자바', '한빛', 500, '김경식')
(2, '파이썬', '길butt', 300, '이준목')
(3, '데이터 분석 실무', '위키북스', 300, '김토리')
(9, 'Python', '한빛', 500, '현민현민')
(10, '바보', '한빛', 100, '루피')
(11, '해삼', '두빛', 200, '조로')
(12, '스파게티', '세빛', 300, '상디')

In [34]:
def delete_data(data):
    c = conn.cursor()
    c.execute("DELETE FROM book WHERE id=%s;", data)
    conn.commit()
    c.close()

# delete_data((9,))
select_all()

(10, '바보', '한빛', 100, '루피')
(11, '해삼', '두빛', 200, '조로')
(12, '스파게티', '세빛', 300, '상디')
(13, 'Python', '한빛', 500, '현민현민')
(14, 'Python', '한빛', 500, '현민현민')

In [36]:
def delete_datas(datas):
    c = conn.cursor()
    c.executemany("DELETE FROM book WHERE id=%s;", datas)
    conn.commit()
    c.close()

# delete_datas([(13), (14)])
select_all()

(10, '바보', '한빛', 100, '루피')
(11, '해삼', '두빛', 200, '조로')
(12, '스파게티', '세빛', 300, '상디')